@*  *   Copyright 2021-present Etherna Sa
    *
    *   Licensed under the Apache License, Version 2.0 (the "License");
    *   you may not use this file except in compliance with the License.
    *   You may obtain a copy of the License at
    *
    *       http://www.apache.org/licenses/LICENSE-2.0
    *
    *   Unless required by applicable law or agreed to in writing, software
    *   distributed under the License is distributed on an "AS IS" BASIS,
    *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    *   See the License for the specific language governing permissions and
    *   limitations under the License.
*@

@page
@using Etherna.SSOServer
@model Etherna.SSOServer.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin panel";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">

        <ul>
            <li><a class="btn btn-link" href="@CommonConsts.DatabaseAdminPath">Database</a></li>
            <li><a class="btn btn-link" href="@CommonConsts.HangfireAdminPath">Hangfire</a></li>
            <li><a class="btn btn-link" asp-area="@CommonConsts.AdminArea" asp-page="/IdentityServer/Index">IdentityServer</a></li>
            <li><a class="btn btn-link" asp-area="@CommonConsts.AdminArea" asp-page="/Invitations/Index">Invitations</a></li>
        </ul>

    </div>
</div>