@inject SignInManager<UserBase> SignInManager
@inject UserManager<UserBase> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var isWeb3User = user is UserWeb3;
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="/Account/Manage/Index" asp-area="Identity">Profile</a></li>
    @if (!isWeb3User)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.Web3LoginNavClass(ViewContext)" asp-page="/Account/Manage/Web3Login" asp-area="Identity">Web3 login</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="/Account/Manage/Email" asp-area="Identity">Email</a></li>
    @if (!isWeb3User)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="/Account/Manage/ChangePassword" asp-area="Identity">Password</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="/Account/Manage/TwoFactorAuthentication" asp-area="Identity">Two-factor authentication</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="/Account/Manage/PersonalData" asp-area="Identity">Personal data</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.DeveloperNavClass(ViewContext)" id="developer" asp-page="/Account/Manage/Developer/Index" asp-area="Identity">Developer</a></li>
</ul>
