@page "{id}"
@model Etherna.SSOServer.Areas.Admin.Pages.IdentityServer.ClientSecretsModel
@{
    ViewData["Title"] = "Client Secrets";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="Clients">Clients</a></li>
                <li class="breadcrumb-item">@Model.ClientName</li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>

<form id="client-secrets-form" Method="post">
    <div class="row">
        <div class="col-md-12">

            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Hidden -->
            <input type="hidden" asp-for="Id" />

            <div class="card mt-3">
                <h5 class="card-header">Add New Secret</h5>
                <div class="card-body">

                    <!--Input - text -->
                    <div class="mb-3 row">
                        <label asp-for="Input.Description" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="Input.Description">
                            <span asp-validation-for="Input.Description" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Input - datetime -->
                    <div class="mb-3 row">
                        <label asp-for="Input.Expiration" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" asp-for="Input.Expiration">
                            <span asp-validation-for="Input.Expiration" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Button-->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" id="add-secret-button" class="btn btn-primary">Add Secret</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">Existing Secrets</h5>
            <div class="card-body">

                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Created</th>
                                <th>Expiration</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var secret in Model.Secrets)
                            {
                                <tr>
                                    <td>@secret.Description</td>
                                    <td>@secret.Created.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td>@secret.Expiration?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td>
                                        @if (secret.IsExpired)
                                        {
                                            <span class="badge bg-danger">Expired</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-success">Active</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-page="ClientSecretDelete"
                                           asp-route-id="@Model.Id"
                                           asp-route-secretHash="@secret.HashedValue"
                                           class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
