@page "{id}/{secretHash}"
@model Etherna.SSOServer.Areas.Admin.Pages.IdentityServer.ClientSecretDeleteModel
@{
    ViewData["Title"] = "Delete Client Secret";
}

<form asp-page-handler="Delete" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Clients">Clients</a></li>
                    <li class="breadcrumb-item">@Model.ClientName</li>
                    <li class="breadcrumb-item"><a asp-page="ClientSecrets" asp-route-id="@Model.Id">Secrets</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">

            <h3>@ViewData["Title"]</h3>

            <!--Hidden -->
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SecretHash" />

            <div class="card mt-3">
                <h5 class="card-header">@ViewData["Title"]</h5>
                <div class="card-body">

                    <!--Input - text -->
                    <div class="mb-3 row">
                        <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled asp-for="Description">
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="mb-3 row">
                        <label asp-for="Expiration" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled
                                   value="@Model.Expiration?.ToString("dd/MM/yyyy HH:mm:ss")">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            <a asp-page="ClientSecrets" asp-route-id="@Model.Id" class="btn btn-secondary ms-2">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
