@page
@model Etherna.SSOServer.Areas.Admin.Pages.IdentityServer.RolesModel
@{
    ViewData["Title"] = "Roles";

    var pageSelectorModel = new PageSelectorModel(Model.CurrentPage, Model.MaxPage, routeData: new () { { "q", Model.Query! } });
    var searchModel = new SearchModel(Model.Query);
}

<div class="row">
    <div class="col-12 mb-3 text-center mt-1">
        <h2><span class="oi oi-lock-locked" title="Roles" aria-hidden="true"></span>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a asp-page="Role" class="btn btn-outline-primary mb-3 mt-3">+ Add Role</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <partial name="_Search" model="searchModel" />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        <tr>
                            <th>
                                <a class="btn btn-primary" asp-page="Role" asp-route-id="@role.Id">Edit</a>
                                <a class="btn btn-primary" asp-page="RoleUsers" asp-route-id="@role.Id">Users</a>
                            </th>
                            <td>@role.Name</td>
                            <td>
                                <a class="btn btn-danger" asp-page="RoleDelete" asp-route-id="@role.Id">X</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <partial name="_PageSelector" model="pageSelectorModel" />
    </div>
</div>