@page
@model Etherna.SSOServer.Areas.Admin.Pages.IdentityServer.UserProvidersDeleteModel
@{
    ViewData["Title"] = "Delete User Provider";
}

<form Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Users">Users</a></li>
                    <li class="breadcrumb-item"><a asp-page="User" asp-route-id="@Model.Id">@Model.Username</a></li>
                    <li class="breadcrumb-item"><a asp-page="UserProviders" asp-route-id="@Model.Id">User Providers</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>@ViewData["Title"]</h3>

            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Hidden -->
            <input type="hidden" asp-for="Id" />

            <div class="card mt-3">
                <h5 class="card-header">Delete User Provider</h5>
                <div class="card-body">

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="LoginProvider" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <!--Hidden -->
                            <input type="hidden" asp-for="LoginProvider" />
                            <input type="text" disabled class="form-control" asp-for="LoginProvider">
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="ProviderKey" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <!--Hidden -->
                            <input type="hidden" asp-for="ProviderKey" />
                            <input type="text" disabled class="form-control" asp-for="ProviderKey">
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="ProviderDisplayName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" asp-for="ProviderDisplayName">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-danger">Delete User Provider</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>