@page
@model Etherna.SSOServer.Areas.Admin.Pages.IdentityServer.UserDeleteModel
@{
    ViewData["Title"] = "Delete User";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="Users">Users</a></li>
                <li class="breadcrumb-item"><a asp-page="User" asp-route-id="@Model.Id">@Model.Username</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
</div>

<form id="client-form" asp-page-handler="Delete" Method="post">

    <h2>@ViewData["Title"]</h2>

    <!--Hidden -->
    <input type="hidden" asp-for="Id" />
    <div class="card mt-3">
        <h5 class="card-header">@ViewData["Title"]</h5>
        <div class="card-body">

            <!--Input - text -->
            <div class="mb-3 row">
                <label asp-for="Username" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled asp-for="Username">
                </div>
            </div>

            <!--Button-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                </label>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-danger">Delete User</button>
                </div>
            </div>
        </div>
    </div>
</form>