@*   Copyright 2021-present Etherna Sagl
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 *@

@page
@model Web3LoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Associate your Web3 account.</h4>
<hr />

<div id="web3-login-description">
    <p class="text-info">
        You've successfully authenticated with Web3.<br />
        Please enter an username and an optional email address below, and click the Register button to finish logging in.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation"
              asp-route-etherAddress="@Model.EtherAddress"
              asp-route-returnUrl="@Model.ReturnUrl"
              asp-route-signature="@Model.Signature"
              method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.InvitationCode"></label>
                @if (!Model.IsInvitationRequired)
                {
                    <label>(optional)</label>
                }
                <input asp-for="Input.InvitationCode" class="form-control" />
                <span asp-validation-for="Input.InvitationCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@if (Model.DuplicateEmail || Model.DuplicateUsername)
{
    <div class="row">
        <div class="col-md-6">
            <hr />
            <p class="text-break">
                Please <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                with your previous account, or change info for create a new one.
            </p>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
